<form action="/team" method="get">
  <h1>Create a Team</h1>
  <input id="Team_name" type="text" name="team[name]">
  <input id="Team-motto" type="text" name="team[motto]">

  <h2>Hero 1</h2>
  <input id="Hero_name" type="text" name="team[hero][][name]">
  <input id="Hero_power" type="text" name="team[hero][][power]">
  <input id="Hero_biography" type="text" name="team[hero][][bio]">

  <h2>Hero 2</h2>
  <input id="Hero_name_2" type="text" name="team[hero][][name]">
  <input id="Hero_power_2" type="text" name="team[hero][][power]">
  <input id="Hero_biography_2" type="text" name="team[hero][][bio]">

  <h2>Hero 3</h2>
  <input id="Hero_name_3" type="text" name="team[hero][][name]">
  <input id="Hero_power_3" type="text" name="team[hero][][power]">
  <input id="Hero_biography_3" type="text" name="team[hero][][bio]">
  <input type="submit" value="Submit">
</form>
  
  
  